<a href="https://colab.research.google.com/github/saquibali7/MotionSearching/blob/main/motionCode.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import os
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt


from sklearn.neighbors import KDTree

In [2]:
from sklearn.neighbors import KDTree

In [55]:
rng = np.random.RandomState(0)
X = rng.random_sample((10, 3))
tree = KDTree(X, leaf_size=2)   
a=X[3:5]
dist, ind = tree.query(a, k=3)      
print(ind)

[[3 0 1]
 [4 3 8]]

In [4]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [26]:
imu_file = "/content/drive/MyDrive/INSAR_dataset/imu.csv"
sync_file = "/content/drive/MyDrive/INSAR_dataset/sync info.xlsx"
annotation_file = "/content/drive/MyDrive/INSAR_dataset/dyad_1_conversation_1_annohead.txt"
coversation1_offset = 2.4987025
df_sync = pd.read_excel(sync_file)

In [27]:
with open(annotation_file) as file:
    for item in file:
        print(item)
        break

headmovement_A		00:00:07.680	7.68	00:00:08.100	8.1	00:00:00.420	0.42	n1

In [28]:
df_imu = pd.read_csv(imu_file)
df_imu.head()

,section id,recording id,timestamp [ns],gyro x [deg/s],gyro y [deg/s],gyro z [deg/s],acceleration x [G],acceleration y [G],acceleration z [G],roll,pitch,yaw,rotation vector w,rotation vector x,rotation vector y,rotation vector z
0,7ef9f1b3-b26f-423b-972b-ce1b29657518,1973fcc6-4aed-4496-b9be-7c7d259aebdc,1677493941387468567,-2.560976,0.853659,2.621951,0.053711,-1.003540,0.058716,6.981402,89.560144,NaN,NaN,NaN,NaN,NaN
1,7ef9f1b3-b26f-423b-972b-ce1b29657518,1973fcc6-4aed-4496-b9be-7c7d259aebdc,1677493941392408567,-2.378049,1.158537,2.865854,0.057678,-0.995605,0.063965,6.962544,89.121316,NaN,NaN,NaN,NaN,NaN
2,7ef9f1b3-b26f-423b-972b-ce1b29657518,1973fcc6-4aed-4496-b9be-7c7d259aebdc,1677493941397348567,-2.378049,1.402439,3.109756,0.054199,-0.993164,0.066711,6.946454,88.682452,NaN,NaN,NaN,NaN,NaN
3,7ef9f1b3-b26f-423b-972b-ce1b29657518,1973fcc6-4aed-4496-b9be-7c7d259aebdc,1677493941402288567,-2.439024,1.585366,3.536585,0.055176,-0.994629,0.070984,6.931058,88.243375,NaN,NaN,NaN,NaN,NaN
4,7ef9f1b3-b26f-423b-972b-ce1b29657518,1973fcc6-4aed-4496-b9be-7c7d259aebdc,1677493941407228567,-2.560976,1.768293,3.597561,0.047546,-0.993774,0.072876,6.919966,87.803621,NaN,NaN,NaN,NaN,NaN

In [29]:
df_imu = df_imu.drop(['section id', 'recording id'], axis=1)
df_imu.head()

,timestamp [ns],gyro x [deg/s],gyro y [deg/s],gyro z [deg/s],acceleration x [G],acceleration y [G],acceleration z [G],roll,pitch,yaw,rotation vector w,rotation vector x,rotation vector y,rotation vector z
0,1677493941387468567,-2.560976,0.853659,2.621951,0.053711,-1.003540,0.058716,6.981402,89.560144,NaN,NaN,NaN,NaN,NaN
1,1677493941392408567,-2.378049,1.158537,2.865854,0.057678,-0.995605,0.063965,6.962544,89.121316,NaN,NaN,NaN,NaN,NaN
2,1677493941397348567,-2.378049,1.402439,3.109756,0.054199,-0.993164,0.066711,6.946454,88.682452,NaN,NaN,NaN,NaN,NaN
3,1677493941402288567,-2.439024,1.585366,3.536585,0.055176,-0.994629,0.070984,6.931058,88.243375,NaN,NaN,NaN,NaN,NaN
4,1677493941407228567,-2.560976,1.768293,3.597561,0.047546,-0.993774,0.072876,6.919966,87.803621,NaN,NaN,NaN,NaN,NaN

In [30]:
imu_columns = list(df_imu.columns)
for i in range(len(imu_columns)):
  if i!=0:
    df_imu[imu_columns[i]]=(df_imu[imu_columns[i]]-df_imu[imu_columns[i]].mean())/abs(df_imu[imu_columns[i]].max())

In [40]:
imu_kd_tree= df_imu[["gyro x [deg/s]","gyro y [deg/s]", "gyro z [deg/s]"]]
kd_tree = KDTree(imu_kd_tree, leaf_size=2)
imu_kd_tree.head()

   gyro x [deg/s]  gyro y [deg/s]  gyro z [deg/s]
0       -0.013454        0.007549        0.009296
1       -0.012439        0.009696        0.011516
2       -0.012439        0.011413        0.013736
3       -0.012777        0.012701        0.017620
4       -0.013454        0.013989        0.018175

In [32]:
TimeStamp = df_imu['timestamp [ns]']
df_imu['timestamp [ns]'].min()

1677493941387468567

In [33]:
initial_timeStamp=TimeStamp[0]
for i in range(len(TimeStamp)):
  TimeStamp[i] = TimeStamp[i]-initial_timeStamp
  TimeStamp[i]= TimeStamp[i]/1000000
print(TimeStamp[0],TimeStamp[1],TimeStamp[2])

<ipython-input-33-499ddeebf508>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  TimeStamp[i] = TimeStamp[i]-initial_timeStamp
<ipython-input-33-499ddeebf508>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  TimeStamp[i]= TimeStamp[i]/1000000

0.0 4.94 9.880064

In [81]:
with open(annotation_file) as file:
    for item in file:
      tokens= item.split('\t')
      if(tokens[0]!='headmovement_A'):
        print("Wrong Group")
        break
      else :
        startTime, endTime = float(tokens[3])-coversation1_offset, float(tokens[5])-coversation1_offset
        print(startTime, endTime)
        index=[]
        for i in range(len(TimeStamp)):
          if TimeStamp[i]>startTime and TimeStamp[i]<endTime:
            print(i)
            index.append(i)
        if(len(index)==0):
          continue    
        print(index)
        query = []
        for id in index:
          query.append(imu_kd_tree[id:id+1])
        query = np.array(query)
        query = query.squeeze(axis=0)
        print(f"query : " ,query)
        dist, ind = kd_tree.query(query, k=10)  
        print(dist, ind)
        print("\n\n\n")

5.1812974999999994 5.601297499999999
16.7012975 22.4112975
4
[4]
query :  [[-0.01345374  0.01398921  0.01817544]]
[[0.         0.00115639 0.00155713 0.00207266 0.00264731 0.00271672
  0.00292574 0.00298225 0.00322037 0.00334485]] [[    4     5     3  3400  3401 51009 51243  3399 58679     6]]




43.6512975 46.2712975
9
[9]
query :  [[-0.01785009  0.00969552  0.02649952]]
[[0.         0.00109312 0.00215384 0.002954   0.00345518 0.00369256
  0.00376115 0.00376939 0.00414344 0.00442624]] [[    9    10     8    11 43090 48421 30374 48420 43089     7]]




79.9712975 80.7112975
141.2412975 143.17129749999998
147.5912975 148.6512975
30
[30]
query :  [[ 0.00277893 -0.02207778  0.01762049]]
[[0.         0.00077889 0.0019916  0.00217332 0.00241016 0.00264955
  0.00283846 0.00303486 0.00307663 0.00308809]] [[   30  8449  8448 27753 32603 45099 27752    31 34594    29]]




172.29129749999998 173.2112975
35
[35]
query :  [[ 0.00954254 -0.03066516  0.01262605]]
[[0.         0.00173103 0.00243848 0.00349869 0.00352452 0.00358514
  0.0036034  0.00399028 0.00403776 0.00438259]] [[   35    34    36 28512  8444 41580    33 29808 29355  8442]]




209.5212975 210.20129749999998
213.3212975 214.04129749999998
255.3612975 257.1912975
52
[52]
query :  [[ 0.01799706 -0.17793867 -0.02067029]]
[[0.         0.01141462 0.01145063 0.0116978  0.01176393 0.0118691
  0.01188545 0.01294305 0.01349213 0.01520737]] [[   52    53  5864  1228  5863  5865    51  1227  1229 18163]]




261.1212975 261.7712975
302.16129750000005 302.92129750000004
305.8312975 308.2512975
62
[62]
query :  [[ 0.08191319 -0.3097549   0.0276094 ]]
[[0.         0.02151459 0.02281666 0.02612864 0.02641252 0.02799317
  0.02914012 0.03145943 0.03366532 0.03412337]] [[   62    61    63 49720 49721 49719 49722 49718  1337 49723]]




Wrong Group