<a href="https://colab.research.google.com/github/saquibali7/MotionSearching/blob/main/motionCode.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import os
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt


from sklearn.neighbors import KDTree

In [2]:
from sklearn.neighbors import KDTree

In [3]:
rng = np.random.RandomState(0)
X = rng.random_sample((10, 3))
tree = KDTree(X, leaf_size=2)   
a=X[3:4]
dist, ind = tree.query(a, k=3)      
print(ind)

[[3 0 1]]

In [4]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [100]:
imu_file = "/content/drive/MyDrive/INSAR_dataset/imu.csv"
sync_file = "/content/drive/MyDrive/INSAR_dataset/sync info.xlsx"
annotation_file = "/content/drive/MyDrive/INSAR_dataset/dyad_1_conversation_1_annohead.txt"
coversation1_offset = 2.4987025

In [101]:
df_sync = pd.read_excel(sync_file)

In [102]:
with open(annotation_file) as file:
    for item in file:
        print(item)
        break

headmovement_A		00:00:07.680	7.68	00:00:08.100	8.1	00:00:00.420	0.42	n1

In [103]:
df_imu = pd.read_csv(imu_file)

In [104]:
df_imu.head()

,section id,recording id,timestamp [ns],gyro x [deg/s],gyro y [deg/s],gyro z [deg/s],acceleration x [G],acceleration y [G],acceleration z [G],roll,pitch,yaw,rotation vector w,rotation vector x,rotation vector y,rotation vector z
0,7ef9f1b3-b26f-423b-972b-ce1b29657518,1973fcc6-4aed-4496-b9be-7c7d259aebdc,1677493941387468567,-2.560976,0.853659,2.621951,0.053711,-1.003540,0.058716,6.981402,89.560144,NaN,NaN,NaN,NaN,NaN
1,7ef9f1b3-b26f-423b-972b-ce1b29657518,1973fcc6-4aed-4496-b9be-7c7d259aebdc,1677493941392408567,-2.378049,1.158537,2.865854,0.057678,-0.995605,0.063965,6.962544,89.121316,NaN,NaN,NaN,NaN,NaN
2,7ef9f1b3-b26f-423b-972b-ce1b29657518,1973fcc6-4aed-4496-b9be-7c7d259aebdc,1677493941397348567,-2.378049,1.402439,3.109756,0.054199,-0.993164,0.066711,6.946454,88.682452,NaN,NaN,NaN,NaN,NaN
3,7ef9f1b3-b26f-423b-972b-ce1b29657518,1973fcc6-4aed-4496-b9be-7c7d259aebdc,1677493941402288567,-2.439024,1.585366,3.536585,0.055176,-0.994629,0.070984,6.931058,88.243375,NaN,NaN,NaN,NaN,NaN
4,7ef9f1b3-b26f-423b-972b-ce1b29657518,1973fcc6-4aed-4496-b9be-7c7d259aebdc,1677493941407228567,-2.560976,1.768293,3.597561,0.047546,-0.993774,0.072876,6.919966,87.803621,NaN,NaN,NaN,NaN,NaN

In [105]:
df_imu_main = df_imu.drop(['section id', 'recording id'], axis=1)

In [106]:
df_imu_main.head()

,timestamp [ns],gyro x [deg/s],gyro y [deg/s],gyro z [deg/s],acceleration x [G],acceleration y [G],acceleration z [G],roll,pitch,yaw,rotation vector w,rotation vector x,rotation vector y,rotation vector z
0,1677493941387468567,-2.560976,0.853659,2.621951,0.053711,-1.003540,0.058716,6.981402,89.560144,NaN,NaN,NaN,NaN,NaN
1,1677493941392408567,-2.378049,1.158537,2.865854,0.057678,-0.995605,0.063965,6.962544,89.121316,NaN,NaN,NaN,NaN,NaN
2,1677493941397348567,-2.378049,1.402439,3.109756,0.054199,-0.993164,0.066711,6.946454,88.682452,NaN,NaN,NaN,NaN,NaN
3,1677493941402288567,-2.439024,1.585366,3.536585,0.055176,-0.994629,0.070984,6.931058,88.243375,NaN,NaN,NaN,NaN,NaN
4,1677493941407228567,-2.560976,1.768293,3.597561,0.047546,-0.993774,0.072876,6.919966,87.803621,NaN,NaN,NaN,NaN,NaN

In [107]:
imu_columns = list(df_imu_main.columns)

In [108]:
for i in range(len(imu_columns)):
  if i!=0:
    df_imu_main[imu_columns[i]]=(df_imu_main[imu_columns[i]]-df_imu_main[imu_columns[i]].mean())/abs(df_imu_main[imu_columns[i]].max())

In [109]:
df_imu_main.head()

,timestamp [ns],gyro x [deg/s],gyro y [deg/s],gyro z [deg/s],acceleration x [G],acceleration y [G],acceleration z [G],roll,pitch,yaw,rotation vector w,rotation vector x,rotation vector y,rotation vector z
0,1677493941387468567,-0.013454,0.007549,0.009296,0.111248,-0.014669,0.015147,0.025196,0.965037,NaN,NaN,NaN,NaN,NaN
1,1677493941392408567,-0.012439,0.009696,0.011516,0.122328,0.000547,0.024578,0.024582,0.960138,NaN,NaN,NaN,NaN,NaN
2,1677493941397348567,-0.012439,0.011413,0.013736,0.112611,0.005228,0.029511,0.024058,0.955237,NaN,NaN,NaN,NaN,NaN
3,1677493941402288567,-0.012777,0.012701,0.017620,0.115340,0.002419,0.037189,0.023557,0.950335,NaN,NaN,NaN,NaN,NaN
4,1677493941407228567,-0.013454,0.013989,0.018175,0.094029,0.004059,0.040588,0.023195,0.945425,NaN,NaN,NaN,NaN,NaN

In [136]:
imu_kd_tree= df_imu_main[["gyro x [deg/s]","gyro y [deg/s]", "gyro z [deg/s]"]]

In [138]:
imu_kd_tree.head()

   gyro x [deg/s]  gyro y [deg/s]  gyro z [deg/s]
0       -0.013454        0.007549        0.009296
1       -0.012439        0.009696        0.011516
2       -0.012439        0.011413        0.013736
3       -0.012777        0.012701        0.017620
4       -0.013454        0.013989        0.018175

In [110]:
TimeStamp = df_imu_main['timestamp [ns]']

In [111]:
df_imu_main['timestamp [ns]'].min()

1677493941387468567

In [112]:
print(TimeStamp[0])

1677493941387468567

In [113]:
for i in range(len(TimeStamp)):
  TimeStamp[i] = TimeStamp[i]-1677493941387468567
  TimeStamp[i]= TimeStamp[i]/1000000

<ipython-input-113-f27afe39b52d>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  TimeStamp[i] = TimeStamp[i]-1677493941387468567
<ipython-input-113-f27afe39b52d>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  TimeStamp[i]= TimeStamp[i]/1000000

In [114]:
print(TimeStamp[1],TimeStamp[2])

4.94 9.880064

In [115]:
print(TimeStamp[1],TimeStamp[2])

4.94 9.880064

In [129]:
startTime , endTime = 19.2 -coversation1_offset , 24.91-coversation1_offset

In [130]:
print(startTime, endTime)

16.7012975 22.4112975

In [131]:
print(TimeStamp)

0             0.000000
1             4.940000
2             9.880064
3            14.820096
4            19.760128
             ...
62780    311378.948096
62781    311383.908096
62782    311388.868096
62783    311393.828096
62784    311398.788096
Name: timestamp [ns], Length: 62785, dtype: float64

In [132]:
index = []
for i in range(len(TimeStamp)):
  if TimeStamp[i]>startTime and TimeStamp[i]<endTime:
    index.append(i)

In [148]:
q = imu_kd_tree[4:5]
print(q)

   gyro x [deg/s]  gyro y [deg/s]  gyro z [deg/s]
4       -0.013454        0.013989        0.018175

In [139]:
kd_tree = KDTree(imu_kd_tree, leaf_size=2)

In [145]:
dist, ind = tree.query(q, k=3)

In [146]:
print(dist, ind)

[[0.65177637 0.8206555  0.93466398]] [[8 5 1]]